project/bin
project/antlr-generated
project/grammar/*.tokens

# ignoring all .class files, but does not to ignore .classpath (it is necessary for eclipse project)
*.class
!.classpath
!.project

